/* DOORS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* height: 100vh; */
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    /* height: 300px; */
    width: 650px;
    /* border: 1px solid #f1c70c; */
    position: relative;
    /* box-shadow: -2px 9px 40px 20px rgb(248, 248, 214); */
    /* 3D */
    perspective: 1000px;
  }
  
  .inside {
    width: 609px;
    height: 609px;
  }
  
  .gLeftandRight {
    height: 600px;
  }

  .gLeftandRight:hover {
    border-radius: 0%;
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
  }

  img {
    width: auto;
    height: 50%;
    object-fit: cover;
  }
  
  .lDoor {
    background-color: #000;
    height: 100%;
    width: 50%;
    position: absolute;
    /* inner layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .rDoor {
    background-color: #000;
    height: 100%;
    width: 50%;
    position: absolute;
    /* inner layout */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  #left-door {
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    border-right: 1px solid black;
    /* transition */
    transform-origin: left;
    transition: transform 5s;
    transition-timing-function: ease-in-out;
  }
  
  #right-door {
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    border-left: 1px solid black;
    /* transition */
    transform-origin: right;
    transition: transform 5s;
    transition-timing-function: ease-in-out;
  }
  
  /* Door swing effect */
  .wrapper:hover #left-door{
    transform: rotateY(140deg);
  }
  
  .wrapper:hover #right-door{
    transform: rotateY(-140deg);
  }
  
  .woodDoor {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .gLeft {
    height: 237px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 348px; */
    margin-left: 224px;
  }
  
  .gLeft img {
    height: 100%;
    width: auto;
    display: table-cell;
    vertical-align: middle;
  }
  
  .gRight {
    height: 237px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 348px; */
    margin-right: 224px;
  }
  
  .gRight img {
    height: 100%;
    width: auto;
    display: table-cell;
    vertical-align: middle;
  }